{{ define "main" }}
  <section class="section pt-46">
    <div class="container">
      <div class="mx-auto max-w-4xl">
        <div class="mb-10 space-y-6">
          <h1 class="font-medium tracking-wider h2">
            {{ .Title }}
          </h1>

          {{ with .Params.image }}
            <img
              src="{{ . | absURL }}"
              alt="{{ $.Title }}"
              class="w-full object-cover shadow-lg" />
          {{ end }}
        </div>

        <div class="content space-y-8">
          {{ .Content }}
        </div>
      </div>
    </div>
  </section>

  {{ partial "call-to-action.html" . }}

{{ end }}
