{{ define "main" }}
  <section class="section pt-46">
    <div class="container">
      <h2 class="h1 mb-4 text-center uppercase">
        {{ .Title | markdownify }}
      </h2>
      <p class="text-balance text-center">
        {{ .Description | markdownify }}
      </p>
      <div class="grid gap-8 md:grid-cols-2 mt-14">
        {{ $paginator:= .Paginate .RegularPages }}
        {{ range $paginator.Pages }}
          {{ partial "components/blog-card" . }}
        {{ end }}
      </div>

      <div class="mt-14 flex justify-center">
        {{ partial "components/pagination.html" . }}
      </div>
    </div>
  </section>

  {{ partial "call-to-action" . }}
{{ end }}
